<template>
    <div class="layout-view layout-padding">
        <div class="text-center">
            <h4>All Workouts</h4>
        </div>

        <q-data-table
                v-if="loaded"
                :data="workouts"
                :config="config"
                :columns="columns"
        >

            <template slot="col-actions" scope="cell">
                <q-btn color="primary" @click="viewWorkout(cell.row.id)" icon="ion-eye">View</q-btn>
                <q-btn color="amber" @click="editWorkout(cell.row.id)" icon="ion-edit">Edit</q-btn>

            </template>

        </q-data-table>

    </div>
</template>

<script>
    import {
        QDataTable,
        QField,
        QInput,
        QCheckbox,
        QSelect,
        QSlider,
        QBtn,
        QIcon,
        QTooltip,
        QCollapsible,
        clone,
        Toast,
        Loading
    } from 'quasar'
    import menu from '../layouts/menu'
    import router from '../../router'
    export default {
        components: {
            'q-menu': menu,
            QDataTable,
            QField,
            QInput,
            QCheckbox,
            QSelect,
            QSlider,
            QBtn,
            QIcon,
            QTooltip,
            QCollapsible,
            Toast,
            Loading

        },
        data() {
            return {
                loaded:false,
                workouts:null,
                config: {

                    title: 'Workouts',
                    noHeader: false,
                    columnPicker: false,
                    leftStickyColumns: 0,
                    rightStickyColumns: 2,
                    bodyStyle: {
                        maxHeight: '500px'
                    },
                    rowHeight: '53px',
                    responsive: true,
                    pagination: {
                        rowsPerPage: 15,
                        options: [5, 10, 15, 30, 50, 500]
                    },
                    selection: false
                },
                columns: [

                    {
                        label: 'Number',
                        field: 'id',
                        type: 'date',
                        width: '160px',
                        filter: true,
                        sort:true,

                    },
                    {
                        label: 'Total Time',
                        type: 'number',
                        field: 'total_time',
                        width: '160px',

                        filter: true,
                        sort:true,


                    },
                    {
                        label: 'Created At',
                        type: 'date',
                        field: 'created_at',

                        width: '160px',
                        filter: true,
                        sort:true,


                    },
                    {
                        label: 'Action',
                        type: 'string',

                        field: 'actions',
                        width: '160px',
                        filter: true,
                        sort:true,


                    },


                ],

                pagination: true,
                rowHeight: 40,
                bodyHeightProp: 'maxHeight',
                bodyHeight: 500
            }
        },

        created()
        {
            Loading.show();
            this.fetchWorkouts()

        },


        methods: {


            viewWorkout(id)
            {
                this.$router.push({

                    name: 'view-workout',
                    params: {

                        id:id
                    }
                });
            },

            editWorkout(id)
            {

                this.$router.push({

                   name: 'edit-workout',
                   params: {

                       id:id
                   }
                });

            },

            fetchWorkouts()
            {
                this.$http.get('fitness/all').then(response => {


                    this.workouts = response.data.data;


                    this.loaded = true;
                    Loading.hide();


                }).catch(error => {

                    Loading.hide();

                    Toast.create.negative("Something Went Wrong !");


                })
            }
        }

    }
</script>