<template>
    <div>
        <div class="layout-view layout-padding">



            <div id="loaded" class="text-center">
                <h5>Edit Workout</h5>
            </div>

            <div v-if="loaded" class="row">
                <q-field label="Kilos Before Workout">
                    <q-input  v-model="workout.kilos_before_workout" />
                </q-field>
                <q-field label="Kilos After Workout">
                    <q-input  v-model="workout.kilos_after_workout" />
                </q-field>
                <q-field label="Water drinked during workout">
                    <q-input  v-model="workout.water_drinked" />
                </q-field>
                <q-field label="Jumping">
                    <q-input  v-model="workout.jumping" />
                </q-field>
                <q-field label="Boxing">
                    <q-input  v-model="workout.boxing" />
                </q-field>
                <q-field label="Biking">
                    <q-input  v-model="workout.static_bike" />
                </q-field>
                <q-field label="Walking">
                    <q-input  v-model="workout.walking" />
                </q-field>
            </div>

                <div class="row">
                        <q-btn big class="full-width" @click="submit()" icon="edit"  color="orange" >Edit</q-btn>
                        <q-btn  big class="full-width" @click="allWorkouts()" icon="ion-ios-eye-outline" color="secondary" >Workouts</q-btn>
                        <q-btn big class="full-width" @click="$router.go(-1)" icon="ion-android-arrow-back"  color="primary" >Back</q-btn>
                </div>

            </div>
    </div>

</template>
<script>
    import {  LocalStorage, GoBack,Toast, QBtn, QToolbar, QIcon, QToolbarTitle, QField, QInput,Loading, ILoading } from 'quasar'
    import menu from '../layouts/menu'
    import router from '../../router'

    export default{
        data () {
            return {
                loaded: false,
                id:this.$route.params.id,
                workout:null,


                user: LocalStorage.get.item('user')
            }
        },
        created() {

            Loading.show();

            this.fetchWorkout();

        },
        methods:{

            allWorkouts()
            {
                this.$router.push({

                    name: 'all-workouts',
                });
            },


            fetchWorkout() {

                let id = this.$route.params.id;

                this.$http.get('fitness/fetch/'+id).then(response => {

                    this.loaded = true;

                    Loading.hide();


                    this.workout = response.data.data.workout;

                    this.data = response.data.data;

                }).catch(error => {

                    this.error = error

                })

            },

            submit() {

                Loading.show();


                this.$http.post('fitness/update/'+this.id,this.workout)

                    .then(function (response) {





                        router.push({
                            name:'view-workout',
                            params:{

                                id:response.data.id
                            }
                        });

                    }).catch(function (error) {

                        Loading.hide();
                    Toast.create.negative("Something Went Wrong...");



                });

            }

        },

        components: {
            'q-menu': menu,
            QField,
            QInput,
            QBtn
        }
    }
</script>