<template>
    <div>
        <div class="layout-view layout-padding">

            <div class="text-center">
                <h5>Add new Item</h5>
            </div>



            <div class="row">
                <q-field label="Kilos Before Workout">
                    <q-input  v-model="workout.kilos_before_workout" />
                </q-field>
                <q-field label="Kilos After Workout">
                    <q-input  v-model="workout.kilos_after_workout" />
                </q-field>
                <q-field label="Water drinked during workout">
                    <q-input  v-model="workout.water_drinked" />
                </q-field>
                <q-field label="Jumping">
                    <q-input  v-model="workout.jumping" />
                </q-field>
                <q-field label="Boxing">
                    <q-input  v-model="workout.boxing" />
                </q-field>
                <q-field label="Biking">
                    <q-input  v-model="workout.static_bike" />
                </q-field>
                <q-field label="Walking">
                    <q-input  v-model="workout.walking" />
                </q-field>

                <!-- Regular shaped -->
                <q-btn push big color="primary" @click="submit()">
                    Create
                </q-btn>
            </div>



        </div>
    </div>
</template>
<script>
    import { LocalStorage, GoBack,Toast, QBtn, QToolbar, QIcon, QToolbarTitle, QField, QInput,Loading, ILoading } from 'quasar'
    import menu from '../layouts/menu'
    import router from '../../router'

    export default{
        data () {
            return {
                workout: {
                    kilos_before_workout:0,
                    kilos_after_workout:0,
                    water_drinked:0,
                    jumping:0,
                    boxing:0,
                    static_bike:0,
                    walking:0,
                },
                user: LocalStorage.get.item('user')
            }
        },

        methods:{

            submit() {

                Loading.show();

                //console.log(this.workout.submit);

                this.$http.post('fitness/create',this.workout)

                    .then(function (response) {


                        console.log(response);

                        console.log(response.data.id);

                        router.push('view/'+response.data.id);

                    }).catch(function (error) {

                        Loading.hide();
                    Toast.create.negative("Something Went Wrong...");


                    console.log(error)

                });

            }

        },

        components: {
            'q-menu': menu,
            QField,
            QInput,
            QBtn
        }
    }
</script>