<template>
    <div>
        <div class="layout-view layout-padding row justify-center">
            <div class="text-center">
                <div class="loading" v-if="loading">
                    Loading...
                </div>
                <div v-if="workout">
                    <q-list>
                        <q-item>
                            <q-item-main>
                                <q-item-tile label><b>Number</b></q-item-tile>
                                <q-item-tile sublabel><b>{{ id }}</b></q-item-tile>
                            </q-item-main>
                            <q-item-separator inset/>

                            <q-item-main>
                                <q-item-tile label><b>Total Time</b></q-item-tile>
                                <q-item-tile sublabel>{{ totalWorkout() }}</q-item-tile>
                            </q-item-main>
                            <q-item-separator inset/>
                            <q-item-main>
                                <q-item-tile label><b>Created At</b></q-item-tile>
                                <q-item-tile sublabel>{{ data.created_at }}</q-item-tile>
                            </q-item-main>
                        </q-item>
                    </q-list>
                    <q-list>

                        <q-item>
                            <q-item-side icon="ion-trophy"/>
                            <q-item-main>
                                <q-item-tile label>{{ workout.kilos_before_workout }}</q-item-tile>
                                <q-item-tile sublabel>Kilos Before Work Out</q-item-tile>
                            </q-item-main>
                        </q-item>
                        <q-item>
                            <q-item-side icon="ion-trophy" color="primary" />
                            <q-item-main>
                                <q-item-tile label>{{ workout.kilos_after_workout }}</q-item-tile>
                                <q-item-tile sublabel>Kilos After Work Out</q-item-tile>
                            </q-item-main>
                        </q-item>
                        <q-item>
                            <q-item-side icon="ion-beer" color="primary" />
                            <q-item-main>
                                <q-item-tile label>{{ workout.water_drinked }}</q-item-tile>
                                <q-item-tile sublabel>Water Drinked</q-item-tile>
                            </q-item-main>
                        </q-item>
                        <q-item>
                            <q-item-side icon="ion-clock" color="primary" />
                            <q-item-main>
                                <q-item-tile label>{{ workout.boxing }}</q-item-tile>
                                <q-item-tile sublabel>Boxing</q-item-tile>
                            </q-item-main>
                        </q-item>
                        <q-item>
                            <q-item-side icon="ion-clock" color="primary" />
                            <q-item-main>
                                <q-item-tile label>{{ workout.jumping }}</q-item-tile>
                                <q-item-tile sublabel>Jumping</q-item-tile>
                            </q-item-main>
                        </q-item>
                        <q-item>
                            <q-item-side icon="ion-clock" color="primary" />
                            <q-item-main>
                                <q-item-tile label>{{ workout.static_bike }}</q-item-tile>
                                <q-item-tile sublabel>Cycling</q-item-tile>
                            </q-item-main>
                        </q-item>
                        <q-item>
                            <q-item-side icon="ion-clock" color="primary" />
                            <q-item-main>
                                <q-item-tile label>{{ workout.walking }}</q-item-tile>
                                <q-item-tile sublabel>Walking</q-item-tile>
                            </q-item-main>
                        </q-item>
                    </q-list>

                    <div style="margin-top: 20px" class="col">
                        <q-btn color="amber" @click="$router.push('/fitness/edit/'+ id)" icon="ion-edit">
                            Edit
                        </q-btn>
                        <q-btn color="primary" @click="allWorkouts()" icon-right="ion-eye">
                           All Workouts
                        </q-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import menu from '../layouts/menu'
    import { QList,QItem,QItemSide,QItemMain,QItemTile,QItemSeparator,QBtn,QIcon } from 'quasar'


    export default {

        data () {
            return {
                loading: false,
                workout: null,
                data:null,
                error: null,
                updated_at:null,
                id:this.$route.params.id

            }
        },
        created() {

            var self = this;

            this.loading = true;

            //this.loading = true;

            this.fetchWorkout();

        },

        methods: {

            allWorkouts()
            {
                this.$router.push({

                    name: 'all-workouts',
                });
            },


            totalWorkout() {

                let calculated = 0;

                return calculated  = Number(this.workout.walking) + Number(this.workout.boxing) + Number(this.workout.jumping) + Number(this.workout.static_bike);

            },

            fetchWorkout() {

                let id = this.$route.params.id;

                this.$http.get('fitness/fetch/'+id).then(response => {

                    this.loading = false;

                    this.workout = response.data.data.workout;

                    this.data = response.data.data;

                }).catch(error => {

                    this.error = error

                })

            }

        },
        components: {
            'q-menu': menu,
            'q-list': QList,
            'q-item': QItem,
            'q-item-side': QItemSide,
            'q-item-main': QItemMain,
            'q-item-tile': QItemTile,
            'q-item-separator': QItemSeparator,
            'q-btn': QBtn,
            'q-icon': QIcon


        }



    }
</script>