<template>
    <div v-if="loaded" class="layout-view layout-padding  justify-center">
        Expenses
        <div class="col-12">
            <q-list>

                <q-item>
                    <q-item-side icon="ion-clock"/>
                    <q-item-main>
                        <q-item-tile label>{{ expense.created_at }}</q-item-tile>
                        <q-item-tile sublabel>Created At</q-item-tile>
                    </q-item-main>
                </q-item>
                <q-item>
                    <q-item-side icon="ion-pricetag"/>
                    <q-item-main>
                        <q-item-tile label>{{ expense.name }}</q-item-tile>
                        <q-item-tile sublabel>Name</q-item-tile>
                    </q-item-main>
                </q-item>
                <q-item>
                    <q-item-side icon="ion-pricetags"/>
                    <q-item-main>
                        <q-item-tile label>{{ expense.item.name }}</q-item-tile>
                        <q-item-tile sublabel>Category</q-item-tile>
                    </q-item-main>
                </q-item>
                <q-item>
                    <q-item-side color="secondary" icon="ion-cash"/>
                    <q-item-main>
                        <q-item-tile label>{{ expense.amount }}</q-item-tile>
                        <q-item-tile sublabel>Amount</q-item-tile>
                    </q-item-main>
                </q-item>
                <q-item>
                    <q-item-side color="secondary" icon="ion-information"/>
                    <q-item-main>
                        <q-item-tile label>{{ expense.description }}</q-item-tile>
                        <q-item-tile sublabel>Description</q-item-tile>
                    </q-item-main>
                </q-item>


            </q-list>
        </div>

        <div style="margin-top: 20px" class="col">
            <q-btn color="amber" @click="$router.push('/expense/edit/'+ expense.id)" icon="ion-edit">
                Edit
            </q-btn>
            <q-btn color="primary" @click="allExpenses()" icon-right="ion-eye">
                All expenses
            </q-btn>
        </div>

    </div>
</template>

<script>
    import menu from '../layouts/menu'
    import { QList,QItem,QItemSide,QItemMain,QItemTile,QItemSeparator,QBtn,QIcon } from 'quasar'


    export default {

        components: {
            'q-menu': menu,
            'q-list': QList,
            'q-item': QItem,
            'q-item-side': QItemSide,
            'q-item-main': QItemMain,
            'q-item-tile': QItemTile,
            'q-item-separator': QItemSeparator,
            'q-btn': QBtn,
            'q-icon': QIcon
        },

        data()
        {

            return {

                expense:null,
                loaded:false
            }
        },

        methods:
            {
                fetchExpenses() {

                    let id = this.$route.params.id;

                    this.$http.get('expense/show/'+id).then(response => {

                        console.log(response);

                       this.expense = response.data.expense;
                       this.loaded = true

                    }).catch(error => {

                        this.error = error

                    })

                },

                allExpenses()
                {
                    this.$router.push({

                        name:'all-expenses'
                    })
                }
            },

        created()
            {
                this.fetchExpenses();
            }



    }
</script>