<template>
    <div>
        <div class="layout-view layout-padding">

            <div class="text-center">
                <h5>Edit Expense</h5>
            </div>


            <div v-if="data" class="row">

                <div class="col-12">
                    <q-field
                            label="Name"

                    >
                        <q-input
                                type="text"
                                v-model="data.name"
                        />
                    </q-field>
                </div>

                <div class="col-12">
                    <q-field label="Description">
                        <q-input type="textarea" :min-rows="2" v-model="data.description" />
                    </q-field>
                </div>

                <div class="col-12">
                    <q-field v-if="items" label="Category">
                        <q-select
                                v-model="data.expenses_item_id"
                                :options="items"
                                filter
                                filter-placehoder="Label"
                        />
                    </q-field>
                </div>

                <div class="col-12">
                    <q-field label="Amount">
                        <q-input type="text" :min-rows="2" v-model="data.amount" />
                    </q-field>
                </div>

                <div class="row">
                    <q-btn big class="full-width" @click="submit()" icon="edit"  color="orange" >Edit</q-btn>
                    <q-btn  big class="full-width" @click="allExpenses()" icon="ion-ios-eye-outline" color="secondary" >Expenses</q-btn>
                    <q-btn big class="full-width" @click="$router.go(-1)" icon="ion-android-arrow-back"  color="primary" >Back</q-btn>
                </div>

            </div>



        </div>
    </div>
</template>
<script>
    import { QSelect,LocalStorage, GoBack,Toast, QBtn, QToolbar, QIcon, QToolbarTitle, QField, QInput,Loading, ILoading } from 'quasar'
    import menu from '../layouts/menu'
    import router from '../../router'
    import {required,minLength} from 'vuelidate/lib/validators'

    export default {

        components: {
            'q-menu': menu,
            QField,
            QInput,
            QBtn,
            QSelect
        },

        data () {

            return {
                data: {},
                items:null,
                user: LocalStorage.get.item('user')
            }
        },

        methods: {

            fetchExpense() {

                let id = this.$route.params.id;

                this.$http.get('expense/show/'+id).then(response => {

                    this.data = response.data.expense;

                }).catch(error => {

                    this.error = error

                })

            },

            fetchExpenseItems()
            {

                this.$http.get('expense-items/all').then(response => {

                    this.items = response.data;

                    console.log(response);

                }).catch(error => {

                    console.log(error.response);

                });

            },

            allExpenses()
            {
                this.$router.push({

                    name:'all-expenses'
                })
            },

            submit() {

                let id = this.$route.params.id;

                this.$http.post('expense/update/'+id,this.data).then(response => {

                    this.$router.push({

                        name:'view-expense',
                        params: {

                            id: response.data.id
                        }
                    })

                }).catch(error => {

                    this.validationErrors = error.response.data;

                    console.log(error.response);

                });
            }

        },

        created() {

            this.fetchExpense();

            this.fetchExpenseItems();

        }


    }
</script>