<template>
    <div>
        <div class="layout-view layout-padding">

            <div class="text-center">
                <h5>Add new Income</h5>
            </div>


            <div v-if="items" class="row">

                <div class="col-12">
                    <q-field
                            label="Name"

                    >
                        <q-input
                                type="text"
                                v-model="data.name"
                        />
                    </q-field>
                </div>

                <div class="col-12">
                    <q-field label="Description">
                        <q-input type="textarea" :min-rows="2" v-model="data.description" />
                    </q-field>
                </div>

                <div class="col-12">
                    <q-field label="Category">
                        <q-select
                                v-model="data.income_item_id"
                                :options="items"
                                filter
                                filter-placehoder="Label"
                        />
                    </q-field>
                </div>

                <div class="col-12">
                    <q-field label="Amount">
                        <q-input type="text" :min-rows="2" v-model="data.amount" />
                    </q-field>
                </div>

                <div class="col-4">
                    <!-- Regular shaped -->
                    <q-btn push big color="primary" @click="submit()">
                        Create
                    </q-btn>
                </div>

            </div>



        </div>
    </div>
</template>
<script>
    import { QSelect,LocalStorage, GoBack,Toast, QBtn, QToolbar, QIcon, QToolbarTitle, QField, QInput,Loading, ILoading } from 'quasar'
    import menu from '../layouts/menu'
    import router from '../../router'
    import {required,minLength} from 'vuelidate/lib/validators'

    export default {

        components: {
            'q-menu': menu,
            QField,
            QInput,
            QBtn,
            QSelect
        },

        data () {

            return {
                data: {
                    name: null,
                    income_item_id: null,
                    description: null,
                    amount: null,
                },
                items:null,
                validationErrors:{

                    name:null,
                    amount:null,
                    income_item_id:null,
                },
                user: LocalStorage.get.item('user')
            }
        },

        validations: {

            data:{

                name:{required}
            }

        },

        methods: {

            fetchIncomeItems()
            {

                this.$http.get('income-items/all').then(response => {

                    this.items = response.data;

                    console.log(response);

                }).catch(error => {

                    console.log(error.response);

                });

            },

            submit() {

                this.$http.post('income/create',this.data).then(response => {

                    this.$router.push({

                        name:'view-income',
                        params: {

                            id: response.data.id
                        }
                    })

                }).catch(error => {

                    this.validationErrors = error.response.data;

                    console.log(error.response);

                });
            }

        },

        created() {

            this.fetchIncomeItems();

        }


    }
</script>