<template>
  <q-layout ref="layout" view="hHr LpR lFf" :right-breakpoint="1100">
    <q-toolbar slot="header">
      <q-btn flat @click="$refs.layout.toggleLeft()">
        <q-icon name="menu" />
      </q-btn>
      <q-toolbar-title>
        {{ title }}
      </q-toolbar-title>
    </q-toolbar>

    <!-- Left Side Panel -->
    <div slot="left">
      <q-list no-border link inset-separator>

        <q-list-header>Menu</q-list-header>
        <q-side-link item to="/profile">
          <q-item-side icon="account_circle" />
          <q-item-main label="Profile" />
        </q-side-link>


        <hr>

        <q-list-header>Fitness</q-list-header>

        <q-side-link item to="/fitness/all">
          <q-item-side icon="account_circle" />
          <q-item-main label="All Workouts" />
        </q-side-link>

        <q-side-link item to="/fitness/new">
          <q-item-side icon="account_circle" />
          <q-item-main label="New Entry" />
        </q-side-link>

        <hr>

        <q-list-header>Incomes</q-list-header>

        <q-side-link item to="/income/all">
          <q-item-side icon="account_circle" />
          <q-item-main label="All incomes" />
        </q-side-link>

        <q-side-link item to="/income/new">
          <q-item-side icon="account_circle" />
          <q-item-main label="New Income" />
        </q-side-link>

        <hr/>

        <q-list-header>Expenses</q-list-header>

        <q-side-link item to="/expense/all">
          <q-item-side icon="account_circle" />
          <q-item-main label="All Expenses" />
        </q-side-link>

        <q-side-link item to="/expense/new">
          <q-item-side icon="account_circle" />
          <q-item-main label="New Expense" />
        </q-side-link>

        <hr/>

        <q-item class="item" v-go-back="'/'" @click="logout()">
          <q-item-side>
            <q-item-tile icon="exit_to_app" />
          </q-item-side>
          <q-item-main>
            <q-item-tile label>Logout</q-item-tile>
          </q-item-main>
        </q-item>



        <!--<q-item v-if="$q.platform.is.cordova" class="item"  @click="testCamera()">
          <q-item-side>
            <q-item-tile  icon="exit_to_app" />
          </q-item-side>
          <q-item-main>
            <q-item-tile label>TestCamera</q-item-tile>
          </q-item-main>
        </q-item>-->

      </q-list>
    </div>

    <router-view />

  </q-layout>
</template>

<style></style>

<script>
  import { GoBack, QLayout, QToolbar, QBtn, QIcon, QToolbarTitle, QList, QSideLink, QItemSide, QItemMain, QItem, QItemTile, QListHeader, Toast } from 'quasar'
  import Auth from '../../auth'
  import axios from 'axios'
  export default{
    data () {
      return {
        title: ''
      }
    },



    watch: {
      '$route' () {
        this.title = this.$route.meta.title
      }
    },

    mounted () {
      this.title = this.$route.meta.title
    },

    methods: {
      logout () {
        Auth.logout()
      }
    },

    components: { QLayout, QToolbar, QBtn, QIcon, QToolbarTitle, QList, QSideLink, QItemSide, QItemMain, QItem, QItemTile, QListHeader },

    directives: { GoBack }
  }
</script>
